{% extends 'base.html' %} {% block title %} Predict - Cars Count {% endblock
title %} {% block content %}
<section class="flex-grow items-center flex dark:bg-gray-800">
  <div
    class="grid py-6 px-4 mx-auto max-w-screen-xl lg:gap-8 xl:gap-0 lg:py-12 grid-cols-1 w-full"
  >
    <form
      method="POST"
      action="/predict"
      enctype="multipart/form-data"
      class="flex flex-col items-center justify-center w-full"
    >
      <label
        for="dropzone-file"
        class="flex flex-col items-center justify-center w-full h-26 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600"
        ondrop="dropHandler(event);"
        ondragover="dragOverHandler(event);"
        ondragleave="dragLeaveHandler(event);"
        ondragenter="dragEnterHandler(event);"
      >
        <div
          aria-label="File Upload Modal"
          class="flex flex-col items-center justify-center pt-5 pb-6"
        >
          <svg
            class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 20 16"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"
            />
          </svg>
          <p class="mb-2 text-sm text-gray-500 dark:text-gray-400">
            <span class="font-semibold">Click to upload</span> or drag and drop
          </p>
          <p class="text-xs text-gray-500 dark:text-gray-400">
            SVG, PNG, JPG or GIF (MAX. 800x400px)
          </p>
        </div>
        <input
          id="dropzone-file"
          name="image"
          required
          type="file"
          class="hidden"
        />
      </label>

      <ul id="gallery" class="flex flex-1 flex-wrap -m-1 my-4">
        <li
          id="empty"
          class="h-full w-full text-center flex flex-col justify-center items-center"
        >
          <span class="text-small text-gray-500">No files selected</span>
        </li>
      </ul>

      <template id="image-template">
        <li class="block p-1 h-24">
          <article
            tabindex="0"
            class="group hasImage w-full h-full rounded-md focus:outline-none focus:shadow-outline bg-gray-100 cursor-pointer relative text-transparent hover:text-white shadow-sm"
          >
            <img
              alt="upload preview"
              class="img-preview w-full h-full sticky object-cover rounded-md bg-fixed"
            />

            <section
              class="flex flex-col rounded-md text-xs break-words w-full h-full z-20 absolute top-0 py-2 px-3"
            >
              <h1 class="flex-1"></h1>
              <div class="flex">
                <span class="p-1">
                  <i>
                    <svg
                      class="fill-current w-4 h-4 ml-auto pt-"
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                    >
                      <path
                        d="M5 8.5c0-.828.672-1.5 1.5-1.5s1.5.672 1.5 1.5c0 .829-.672 1.5-1.5 1.5s-1.5-.671-1.5-1.5zm9 .5l-2.519 4-2.481-1.96-4 5.96h14l-5-8zm8-4v14h-20v-14h20zm2-2h-24v18h24v-18z"
                      />
                    </svg>
                  </i>
                </span>

                <p class="p-1 size text-xs"></p>
                <button
                  class="delete ml-auto focus:outline-none hover:bg-gray-300 p-1 rounded-md"
                >
                  <svg
                    class="pointer-events-none fill-current w-4 h-4 ml-auto"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                  >
                    <path
                      class="pointer-events-none"
                      d="M3 6l3 18h12l3-18h-18zm19-4v2h-20v-2h5.711c.9 0 1.631-1.099 1.631-2h5.316c0 .901.73 2 1.631 2h5.711z"
                    />
                  </svg>
                </button>
              </div>
            </section>
          </article>
        </li>
      </template>

      <button
        type="submit"
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800 w-full lg:w-auto"
      >
        Make a Prediction
      </button>
    </form>
  </div>
</section>
{% endblock content %} {% block script %}
<script>
  const imageTempl = document.getElementById("image-template");
  const empty = document.getElementById("empty");

  // use to store pre selected files
  let FILES = {};

  // check if file is of type image and prepend the initialied
  // template to the target element
  function addFile(target, file) {
    const isImage = file.type.match("image.*"),
      objectURL = URL.createObjectURL(file);

    const clone = isImage
      ? imageTempl.content.cloneNode(true)
      : fileTempl.content.cloneNode(true);

    clone.querySelector("h1").textContent = file.name;
    clone.querySelector("li").id = objectURL;
    clone.querySelector(".delete").dataset.target = objectURL;
    clone.querySelector(".size").textContent =
      file.size > 1024
        ? file.size > 1048576
          ? Math.round(file.size / 1048576) + "mb"
          : Math.round(file.size / 1024) + "kb"
        : file.size + "b";

    isImage &&
      Object.assign(clone.querySelector("img"), {
        src: objectURL,
        alt: file.name,
      });

    empty.classList.add("hidden");
    target.prepend(clone);

    FILES[objectURL] = file;
  }

  const gallery = document.getElementById("gallery");

  // click the hidden input of type file if the visible button is clicked
  // and capture the selected files
  const hidden = document.getElementById("dropzone-file");
  // document.getElementById("button").onclick = () => hidden.click();
  hidden.onchange = (e) => {
    const file = e.target.files[0]; // Get the first selected file

    // Clear existing files and add the new file
    while (gallery.children.length > 0) {
      gallery.lastChild.remove();
    }

    if (file) {
      addFile(gallery, file);
    }
  };

  // use to check if a file is being dragged
  const hasFiles = ({ dataTransfer: { types = [] } }) =>
    types.indexOf("Files") > -1;

  // use to drag dragenter and dragleave events.
  // this is to know if the outermost parent is dragged over
  // without issues due to drag events on its children
  let counter = 0;

  // reset counter and append file to gallery when file is dropped
  function dropHandler(ev) {
    ev.preventDefault();
    for (const file of ev.dataTransfer.files) {
      addFile(gallery, file);
      counter = 0;
    }
  }

  // only react to actual files being dragged
  function dragEnterHandler(e) {
    e.preventDefault();
    if (!hasFiles(e)) {
      return;
    }
    ++counter;
  }

  function dragLeaveHandler(e) {
    1 > --counter;
  }

  function dragOverHandler(e) {
    if (hasFiles(e)) {
      e.preventDefault();
    }
  }

  gallery.onclick = ({ target }) => {
    if (target.classList.contains("delete")) {
      const ou = target.dataset.target;
      document.getElementById(ou).remove(ou);
      gallery.children.length === 1 && empty.classList.remove("hidden");
      delete FILES[ou];
    }
  };
</script>
{% endblock script %}
